:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  border: 1px solid red;
}



/* #region Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid var(--cornflower);
}

.nav {
  display: flex;
  gap: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--iris);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.accent {
  color: var(--navy-blue);
}

.accent-white {
  color: var(--cloud);
}

.nav-list-item {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: var(--ocean);
}

.address {
  font-style: normal;
}

.address-list-item {
  font-family: inherit;

  letter-spacing: 0.02em;
  color: inherit;
}

.address-list-item:hover,
.address-list-item:focus {
  color: var(--ocean);
}

/* #endregion */

/* #region Hero */

.hero {
  background-color: var(--navy-blue);
  text-align: center;
}

.hero-title {
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.btn {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: var(--iris);
  padding: 16px 32px;
  border-radius: 4px;
  border-style: none;
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

/* #endregion */





.visually-hidden {
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.subtitle {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
}

.team {
  background-color: var(--cloud);
}

.team-card {
  background-color: var(--white);
}

.footer {
  background-color: var(--navy-blue);
}

.copyritht {
  color: var(--cloud);
}
